@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('//db.onlinewebfonts.com/c/5f6a1d84be9da8671205d7505c9fad01?family=GoodDog');
@import url('//db.onlinewebfonts.com/c/aee15e4c7f9dcdc9544851df8640213f?family=Kessel205W00-Heavy');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Signika:wght@300&display=swap');

* {
  margin:0;
  box-sizing: border-box;
}

/* NAV BAR */
nav {
  height: 10vh;
}

.burger-toggle {
  display: none;
}

.side-nav-menu-container {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.92);
  height: auto;
  position: fixed;
  z-index: 50;
  right: -100%;
  padding: 3px 2px 3px 0;
  margin-top: 75px;
}

.side-nav-menu-container.active {
  right: 0;
  transition: all 0.4s
}
.burger-icon {
  display: flex;
  float: right;
}

/* FONTS */

.gooddog-font {
  font-family: 'GoodDog', arial;
}

.kessel-font {
  font-family: 'Kessel205W00-Heavy', arial;
}

.nunito-font {
  font-family: 'Nunito Sans', sans-serif;
}

/* INDEX */

.index-image {
  width:300px;
  height:300px;
  object-fit:cover;
}

.background-image-container {
  position: relative;
  text-align: center;
  object-fit: contain;
}

.image-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tagline {
  top: 65%;
  left: 50%
}

#title {
  font-size: 500%;
}

.background-image {
  object-fit: cover;
}

#aboutus-tagline {
  top: 70%;
  left: 50%
}


.about-buttons {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 15vh;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filter-item {
  width: 100%;
}


.fundraiser-background {
  background-image: url('https://i.imgur.com/Bm9jKXC.jpg?1')
}

.fundraiser-mobile-view {
  display: none;
}

.aboutus-button {
  width: 16em;
}

.boneicon {
  border-radius: 50%;
}

@media only screen and (max-width: 1023px) {

  
  .index-image {
    width:200px;
    height:200px;
    object-fit:cover;
  }
  #tagline {
    top: 70%;
    left: 50%;
  }
  #title {
    font-size: 400%;
  }

  #aboutus-tagline {
    top: 80%;
    left: 50%
  }

}

@media only screen and (max-width: 890px) {
  .nav-toggle {
    display: none;
  } 
  .burger-toggle {
    display: inline-flex
  }

  .fundraiser-background {
    display: none;
  }

  .fundraiser-mobile-view {
    display: inline-block;
  }

  #aboutus-tagline {
    display: none;
  }
  #title {
    font-size: xx-large;
  }
}

@media only screen and (max-width: 767px) {
  
  .index-image {
    width:400px;
    height:400px;
    object-fit:cover;
  }

  #tagline {
    display: none;
  }
  #title {
    font-size: xx-large;
  }

  .filter-container {
    display: block;
  }

  .teamcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }


  .whoweare-name {
    font-size: xx-large;
    text-align: center;
  }

  .whoweare-p {
    margin-left: -2em;
    margin-right: -2em;
  }

  #fundraiser-tagline {
    display: none;
  }

  .aboutus-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutus-button {
    width: 16em;
  }

}

.home-header {
  background-image: url('https://i.imgur.com/nngTI3b.jpg?1')
}



  .triangle-new {
    width: 0;
    height: 0;
    border-top: 100px solid #FED636;
    border-right: 100px solid transparent;
  }

  .triangle-text {
    transform: rotate(-45deg)
  }

  .newsletter-background {
    background-image: url('https://i.imgur.com/selrng8.jpg');
    height: 100%;
  }

  .register-background {
    background-image: url('https://i.imgur.com/rRP9lbR.jpg?1');
  }

  .login-background {
    background-image: url('https://i.imgur.com/tdmm0eW.jpg')
    }

    .fade-in-image {
      animation: fadein 3s;
      -webkit-animation: fadeIn 3s;
      -moz-animation: fadeIn 3s;
      -o-animation: fadeIn 3s;
      -ms-animation: fadeIn 3s;
    }
    @keyframes fadeIn {
      0% {opacity:0.3;}
      50% {opacity:1;}
      100% {opacity:0.3;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0.3;}
      50% {opacity:1;}
      100% {opacity:0.3;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0.3;}
      50% {opacity:1;}
      100% {opacity:0.3;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0.3;}
      50% {opacity:1;}
      100% {opacity:0.3;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0.3;}
      50% {opacity:1;}
      100% {opacity:0.3;}
    }